<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Options</title>
    <link rel="stylesheet" href="updateoptions.css">
</head>
<body>
    <div class="container">
   
  
        <form action="/processRequest" method="post">
            <input type="email" name="Email" required placeholder="Enter your email" >
            
            <button type="submit" name="action" value="otp" style="background: none; border: none;">Via OTP</button>
            
            <button type="submit" name="action" value="knowPassword" style="background: none; border: none;">Know Password?</button>
        </form>
        
</div>
    
</body>
</html>